html {
  background-color: #F4F4F4;
  font-size: 16px;
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 760px) {
  html {
    width: 100%;
  }
}

h1,
h2,
h3,
.nav {
font-family: 'Open Sans', sans-serif;
color: #373737;
}

p {
  font-family: 'Prata', serif;
  color: #1a1a1a;
}

.mobile {
  display: none;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

@media only screen and (max-width: 760px) {
  .desktop-header {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-around;
    height: 64px;
    align-items: center;
  }
}

.name {
  flex-grow: 10;
}

.nav {
  flex-grow: 0;
}

a {
    text-decoration: none;
}

.nav a {
  color: #373737;
  font-weight: bold;
}

.nav a:hover,
header img:hover {
  box-shadow: 1px 1px 5px #C08283;
}

.color {
  display: inline-block;
  width: 16px;
  height: 50px;
  background-color: #C08283;
  margin: 0 3px;
}

.colmar {
  font-weight: 900;
  color: #0d0d0d;
  text-transform: uppercase;
}

.academy {
  text-transform: uppercase;
  color: #373737;
  font-weight: 400;
}

.logo {
    margin-left: 24px;
}

.nav .sign {
  padding-right: 24px;
}

/* start here section */

.banner .container {
  margin: 32px 24px;
  width: 60%;
  height: auto;
}

@media only screen and (max-width: 760px) {
  .banner .container {
    margin: 0;
    width: 100%;
    height: auto;
  }
}

.banner img {
 width: 100%;
 height: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

@media only screen and (max-width: 760px) {
  .banner {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.dark {
  background-color: #DCD0C0;
}

.dark2 {
  background-color: #DCD0C0;
}

@media only screen and (max-width: 760px) {
 .dark2 {
  background-color: #F4F4F4;
}
}

.start {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  width: 40%;
  padding: 50px 16px;
}

@media only screen and (max-width: 960px) {
  .start {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 760px) {
  .start {
    padding: 32px 16px;
  }
}

.start a {
  background-color: #373737;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  width: 80%;
  font-family: 'Prata', serif;
  margin-bottom: 50px;
  transition: background-color 200ms ease-in-out;
}

@media only screen and (max-width: 960px) {
  .start a {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.start a:hover {
  background-color: #C08283;
}

.start h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 50px;
}

@media only screen and (max-width: 960px) {
  .start h1 {
    font-size: 2.5rem;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 760px) {
  .start h1,
  .start h3 {
    margin: 16px auto;
  }
}

@media only screen and (max-width: 760px) {
  .start {
    width: 95%;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (max-width: 760px) {
  .start a {
    width: 60%;
    margin: 8px auto 32px auto;
    text-align: center;
  }
}

h3 {
  font-size: 2rem;
}

@media only screen and (max-width: 960px) {
  h3 {
    font-size: 1.8rem;
  }
}

/*end start here section*/

/*begin information section*/

.background {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .background {
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.practice img,
.practice .video-container {
  padding: 0 24px 32px 24px;
  width: 94%;
  height: auto;
}

@media only screen and (max-width: 760px) {
  .practice,
  .practice img,
  .practice h2,
  .practice p,
  .practice span {
    display: none;
  }
}

.practice h2
 {
  font-size: 2.5rem;
  text-align: left;
  padding: 0 24px;
  margin: 0;
  width: 95%;
}

@media only screen and (max-width: 900px) {
  .practice h2 {
    font-size: 2rem;
    text-align: center;
  }
}

.readmore a {
  text-decoration: none;
  color: #C08283;
  font-weight: bold;
  font-size: 1rem;
  transition: all 300ms ease-in-out;
}

.practice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.practice span {
  font-family: sans-serif;
  color: #373737;
  text-align: left;
}

.practice p {
  padding: 20px 24px;
  line-height: 1.4;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}

@media only screen and (max-width: 760px) {
  .info {
    margin: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .desktop {
    display: none;
  }
}

.info-bite {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .info-bite {
    flex-direction: column;
    padding: 16px;
    margin: 0;
  }
}

.readmore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  margin: 20px 0;
}

@media only screen and (max-width: 960px) {
  .readmore {
    margin: 0;
  }
}

@media only screen and (max-width: 760px) {
  .readmore {
    padding: 16px;
  }
}

@media only screen and (max-width: 960px) {
  .readmore h3 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 760px) {
  .readmore h3,
  .readmore p,
  .readmore a {
    padding: 16px;
  }
  .readmore h3 {
    font-size: 2rem;
  }
  .readmore a {
    padding-bottom: 0;
  }
}

.readmore a:hover {
  text-shadow: 0 0 1px #C08283;
  font-size: 1rem;
}

.info-bite img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

@media only screen and (max-width: 760px) {
  .info-bite img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  }
}
/* end information section*/

/*start courses section*/
.media-container,
.video-container {
  overflow: hidden;
}
.media-container img,
.video-container video {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  .media-container {
    display: none;
  }
  .course p {
    display: none;
  }
}

.courses {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.courses h2 {
 font-size: 2.5rem;
 padding: 32px;
 text-align: center;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 760px) {
  .first-row,
  .second-row {
    flex-direction: column;
  }
}

.course {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: #F4F4F4;
}

.course p {
  padding: 0 0 8px 16px;
  line-height: 1.5;
}

.course h3 {
  padding: 16px;
}

.course a {
  text-decoration: none;
  color: #373737;
}

.course a:hover {
box-shadow: 1px 1px 3px #373737;
}

@media only screen and (max-width: 760px) {
  .course h3:hover {
    box-shadow: 1px 1px 3px #373737;
  }
}

/* end courses section */

/* start thesis section */

.thesis h2 {
 font-size: 2.5rem;
 padding: 32px;
 text-align: center;
}

@media only screen and (max-width: 760px) {
  .video-container,
  video,
  .background .practice {
    width: 100%;
    margin: 0;
    height: auto;
    padding: 0;
  }
}

@media only screen and (max-width: 760px) {
  .thesis .readmore,
  .thesis .info-bite {
   display: none;
  }
}

/* end thesis section -- find style in information section*/

footer {
  padding: 12px 24px 36px 24px;
  border-top: 1px solid #DCD0C0;
  margin-top: 32px;
}
